
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:inline="text">
<div th:insert="~{header :: headerFragment}"></div>
<br>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Crea nuovo corso</title>
    <div class="row">
        <div class="col-md-12">
            <th:block th:if="${!#strings.isEmpty(message1)}">
                <div class="alert alert-success" role="alert">
                    <th:block th:text="${message1}"></th:block>
                </div>
            </th:block>
            <th:block th:if="${!#strings.isEmpty(message)}">
                <div class="alert alert-danger" role="alert">
                    <th:block th:text="${message}"></th:block>
                </div>
            </th:block>
        </div>
    </div>
</head>
<body onload="image(false)">
<br>
<h1>Aggiorna corso</h1>
<section class="course-info">
    <form method="post" th:action="|@{/courses/{courseId}/{iduser}(courseId=${course.getId()}, iduser=${iduser})}|">
        <input type="hidden" name="_csrf" value="${_csrf.token}" />
        <div class="row">
            <div class="col-md-9"></div>
            <th:block th:if="${isOwner && isTeacher}">
                <!-- Qui dentro verrà mostrato solo se l'utente loggato ha 'ROLE_TEACHER' -->
                <div class="col-md-3 d-flex align-items-center">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Salva</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-danger btn-lg btn-block" type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Elimina</button>
                </div>
            </th:block>&nbsp;
        </div>
        <input type="hidden" th:value="${course.getId()}">
        <input type="hidden" id="iduser" name="iduser" th:value="${iduser}">
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label>Titolo</label>
                    <input type="text" id="title" name="title" readonly="readonly"   class="form-control form-control-lg" th:value="${course.getTitle()}">
                </div>
                <br>
                <th:block th:if= "${#strings.isEmpty(course.author)}">
                    <div class="form-group">
                        <label>Autore</label>
                        <input type="text" id="author" name="author" class="form-control form-control-lg" th:value="${course.getAuthor()}">
                    </div>
                </th:block>
                <th:block th:if="${!#strings.isEmpty(course.getAuthor())}">
                    <div class="form-group">
                        <label>Autore</label>
                        <input type="text" name="author" class="form-control form-control-lg" th:value="${course.getAuthor()}" readonly="readonly">
                    </div>
                </th:block>
                <br>
                <div class="form-group">
                    <label>Descrizione</label>
                    <textarea name="description" id="description" th:utext="${descrizione}" class="form-control" rows="18"></textarea>
                </div>
            </div>
            <div class="col-md-3">
                <aside>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" id="email" name="email" th:value="${course.getEmail()}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label asp-for="FullPrice">Full Price</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="fullPriceCurrency" name="fullPriceCurrency" readonly="true" th:value="${course.getFullPriceCurrency()}"/>
                            <input type="number" step="any" id="fullPriceAmount" name="fullPriceAmount" th:value="${course.getFullPriceAmount()}" class="form-control form-control-block"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Current Price</label>
                        <div class="input-group">
                            <input type = "text" class="form-control" id="currentPriceCurrency" name="currentPriceCurrency" readonly="true" th:value="${course.getCurrentPriceCurrency()}"/>
                            <input type="number" step="any" id="currentPriceAmount" name="currentPriceAmount" th:value="${course.getCurrentPriceAmount()}" class="form-control form-control-block"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Immagine</label>
                        <div class="input-group">
                            <th:block th:if="${#strings.contains(course.getImagePath(),'uploads')}">
                                <img id="imagePath1" name="imagePath" th:src="${course.getImagePath()}" th:title="|@{/images/}${course.getImagePath()}|" alt="image" class="img-fluid course-image" />
                            </th:block>
                            <th:block th:if="${!#strings.contains(course.getImagePath(),'uploads')}">
                                <img id="imagePath2" name="imagePath" th:src="|@{/images/}${course.getImagePath()}|" th:title="|@{/images/}${course.getImagePath()}|" alt="image" class="img-fluid course-image" />
                            </th:block>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </form>
</section>
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3 form-group">
            <form th:action="|@{/courses/{courseId}/uploadImage(courseId=${course.getId()})}|"  method="post" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value="${_csrf.token}" />
                    <th:block th:if="${isOwner && isTeacher}">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="file" id="imageFile" name="imageFile" class="btn btn-success" th:src="|@{/images/}${course.getImagePath()}|" onchange="updatePreview(this)" />
                                <br>
                                <br>
                                <button type="submit" id="btnUpload" value="Upload Files" class="btn btn-warning"><i class="fas fa-cog"></i>Upload</button>
                                <br>
                                <label id="label1">Immagine Prodotto:</label>
                                <br>
                            </div>
                            <div class="preview-container">
                                <input type="hidden" th:value="|@{/images/}${course.getImagePath()}|">
                                <img id="preview" th:src="|@{/images/}${course.getImagePath()}|">
                            </div>
                        </div>
                    </th:block>&nbsp;
            </form>
        </div>
    </div>
    <section>
    <form method="post" th:action="|@{/courses/{courseId}/delete(courseId=${course.getId()})}|">
        <input type="hidden" name="_csrf" value="${_csrf.token}" />
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Elimina Corso</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Stai per eliminare il corso e tutte le lezioni associate. Sei sicuro?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Elimina</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script>
    $(document).ready(function() {
        $('#description').summernote({
            height: 300,                 // Altezza dell'editor
            focus: true,                 // Posiziona il focus sull'editor
            placeholder: '',  // Testo di esempio
            toolbar: [
                ['style', ['bold', 'italic']],
                ['para', ['ul', 'ol']],
                ['insert', ['video']],
                ['view', ['codeview']]
            ]
        });
    });
</script>
<script>
    function updatePreview(inputFile) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview').attr('src', e.target.result);
        };
        reader.readAsDataURL(inputFile.files[0]);
        var visibility = true;
        image(visibility);
    }
</script>
<script>
    function image(visibility){
        if(visibility == false){
            document.getElementById("preview").style.visibility = "hidden";
            document.getElementById("label1").style.visibility = "hidden";
        }else{
            document.getElementById("preview").style.visibility = "visible";
            document.getElementById("label1").style.visibility = "visible";
        }
    }
</script>
</body>
</html>
<div th:insert="~{footer :: footerFragment}"></div>