<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:c="https://jakarta.ee/xml/ns/jakartaee">
<!-- Inclusione dell'header -->
<div th:insert="base :: headerFragment"></div>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home Page</title>
</head>
<body>
<form th:action="@{/courses/{id}/vote(id=${courses.getId()})}" method="post" class="text-center" target="_top">
    <th:block th:each="i : ${#numbers.sequence(1, 5)}">
        <button name="vote" type="submit" id="vote" class="border-0 bg-transparent mx-0 display-4 text-warning"
                th:value="${i}"
                th:attr="data-vote=${i}"
                onmouseover="highlightVote(this.getAttribute('data-vote'))"
                onmouseout="resetVote()">
            <i class="far fa-star"></i>
        </button>
    </th:block>

</form>
<script th:inline="javascript">
    function highlightVote(vote){
        const v = parseInt(vote,10)||0;
        const buttons = $('button[name="vote"]');
        buttons.slice(0, v).find('i').addClass('fas').removeClass('far');
        buttons.slice(v).find('i').addClass('far').removeClass('fas');
    }

    function resetVote(){
        highlightVote(previousVote);
    }

    // Valore preesistente fornito dal backend (0 se nessun voto)
    const previousVote = /*[[${vote}]]*/ 0;

    // Popola immediatamente le stelle al caricamento
    document.addEventListener('DOMContentLoaded', resetVote);
</script>
</body>
<div th:insert="footer :: footerFragment"></div>
</html>