<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- Inclusione dell'header -->
<div th:insert="~{base :: headerFragment}"></div>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Login</title>
  <br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <th:block th:if="${param.error != null}">
                <div class="alert alert-danger" role="alert">
                    I dati inseriti non sono validi
                </div>
            </th:block>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <th:block th:if="${param.logout != null}">
                <div class="alert alert-success" role="alert">
                    Logout effettuato con successo.
                </div>
            </th:block>
        </div>
        <div class="col-md-4"></div>
    </div>
</head>
<body>
<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Login</h2>
  </div>
  <div class="col-md-4"></div>
</div>
<br>
<section class="course-info">
<form th:action="@{/doLogin}" modelAttribute="userForm" method="post">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
         <span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
         <br>
         <input path="username" type="text" id="username" name="username" class="form-control" th:value="${userForm.username}"/>
      </div>
      <div class="col-md-4"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <span class="input-group-text" id="inputGroup-sizing-sm1">Password</span>
           <br>
          <input path="password" type="password" id="password" name="password" class="form-control"/>
      </div>
      <div class="col-md-4"></div>
    </div>
    <br>
    <div class="row">
    <div class="form-check col-md-4"></div>
    <div class="col-md-4">
        <!-- Deve essere name="remember-me" -->
        <input type="checkbox" id="remember-me" name="remember-me" />
        <label for="remember-me">Ricordami</label>
    </div>
    <div class="col-md-4"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </form>
</section>
</body>
</html>
<div th:insert="~{footer :: footerFragment}"></div>


