<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:c="https://jakarta.ee/xml/ns/jakartaee">
<!-- Inclusione dell'header -->
<div th:insert="base :: headerFragment"></div>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Modifica</title>
</head>
<body>
<br>
<!-- Alert Condizionale -->
<div class="row">
  <div class="col-md-12">
    <th:block th:if="${!#strings.isEmpty(message)}">
      <div class="alert alert-danger" role="alert">
        <th:block th:text="${message}"></th:block>
      </div>
    </th:block>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <th:block th:if="${!#strings.isEmpty(message1)}">
      <div class="alert alert-success" role="alert">
        <th:block th:text="${message1}"></th:block>
      </div>
    </th:block>
  </div>
</div>
<br>
<section class="lesson-info">
  <form method="post" th:action="@{/lessons/{id}/{courseid}(id=${lesson.getId()},courseid=${lesson.getCourse().getId()})}">
    <input type="hidden" id="CourseId" name="CourseId" th:value="${courseId}">
    <div class="row">
      <div class="col-md-9">
        <h1>Modifica</h1>
      </div>
      <div class="col-md-3 d-flex align-items-center">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Salva</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger btn-lg ml-3" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Elimina</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="form-group">
          <label>Titolo</label>
          <input type="text" id="title" name="title" class="form-control form-control-lg" th:value="${lesson.getTitle()}">
        </div>
        <br>
        <div class="form-group">
          <label>Descrizione</label>
          <textarea id="description" name="description" class="form-control" rows="18" th:utext="${lesson.getDescription()}"></textarea>
        </div>
      </div>
      <div class="col-md-3">
        <aside>
          <div class="form-group">
            <label>Duration</label>
            <input type="time" id="duration" name="duration" th:value="${lesson.getDuration()}" class="form-control" step="1">
          </div>
        </aside>
      </div>
    </div>
  </form>
  <form method="post" th:action="@{/lessons/{id}/delete(id=${lesson.getId()})}">
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Elimina lezione</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Stai per eliminare la lezione. Sei sicuro?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Elimina</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<script>
  $(document).ready(function() {
    $('#description').summernote({
      height: 300,                 // Altezza dell'editor
      focus: true,                 // Posiziona il focus sull'editor
      placeholder: '',  // Testo di esempio
      toolbar: [
        ['style', ['bold', 'italic']],
        ['para', ['ul', 'ol']],
        ['insert', ['video']],
        ['view', ['codeview']]
      ]
    });
  });
</script>
</body>
<div th:insert="footer :: footerFragment"></div>
</html>